/* table border  */
table, tr, th, td {
    border: 1px solid black;
  }

.table{
    border: 2px solid black;
}
  
 /* index description center   */
.center{
    margin-left: 62vh;
    display: inline;
}